# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Data Files
*.csv
*.xlsx
*.txt

# Folders
/venv
/__pycache__

# Test Files
teste.ipynb
teste*.py
